.cache
.idea
.gradle
.DS_Store
.clang-format
.vscode/
##gradle/
build
/dist
/package.json
/package-lock.json

out/
/venv/

runs/

bin/

##gradlew
gradlew.bat
local.properties

__pycache__

*.onnx

*.iml

torch-models/*.png
torch-models/env/

CMakeUserPresets.json
buildNative/**